.App {
  text-align: center;
}
.Box {
  margin-block:20%;
  box-sizing:200px ;
  Border:solid;
}
.align {
  width: 90%;
  margin: auto;
}

#Box1 {
  margin-block:50%;
  box-sizing:200px ;
  Border:solid;
}

#btn {
  text-decoration-color: beige;
  color:rgb(39, 39, 219);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
